<div class="container">
  <div class="footer-top-padding">
    <div class="text-center">
      <a class="footer-link" href="https://github.com/turingschool/lesson_plans/tree/master/ruby_02-web_applications_with_ruby/mix_master">Make Your Own!</a>

      <a class="footer-link" href="https://github.com/MsJennyGiraffe/mix_master">Github Repository</a>
    </div>
  </div>
</div>
