<h1>Mix Master</h1>

<%= link_to "Playlists", playlists_path %>
<br>
<%= link_to "Songs", songs_path %>
<br>
<%= link_to "Artists", artists_path %>
<br>
<a href="https://github.com/turingschool/lesson_plans/tree/master/ruby_02-web_applications_with_ruby/mix_master">Make Your Own!</a>
<br>
<a href="https://github.com/MsJennyGiraffe/mix_master">Github Repository</a>
