<div class="text-center">
<h1>Songs</h1>
</div>
<br><br>


<div class="container">
  <% @songs.each do |song| %>
      <div class="col-md-3">
        <div class="text-center">
          "<%= link_to song.title, song_path(song) %>" by <%= link_to song.artist.name, artist_path(song.artist) %><br><br />
        </div>
      </div>
  <% end %>
</div>
