.artist-link {
  margin: 40px 0 0 0;
}

.form-name-padding {
  padding: 20px 0px 0 0;
}

.button-coloring-one {
  background-color: #Ef476f;
}

.button-coloring-two {
  background-color: #75F4F4;
}

.button-coloring-three {
  background-color: #f9dc5c;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}

a:hover {
  color: #4c5b5c;
  text-decoration: none;
}
